<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="Data Source=DB-SERVER;Initial Catalog=DyeERP;User ID=sa; " />
    <add key ="smsRecipients" value="0765518261"/>
    <!--<add key ="smsRecipients" value="0765518261;0717508326;0777261690;0714526340"/>-->
    <add key="LogPath" value="D:\ErrorDyeERP" />
    <add key ="timerInterval" value ="5000"  />

    <add key ="ChemicalMachinePath" value="\\\\la301\\ERP-Export\\"/>
    <add key="ChemicalIntermidiateDestination" value="\\\\la301\\CustomerExportIntermediate\\"/>
    <add key="ChemicalBackUpDestination" value="\\\\la301\\CustomerExportBackupNew\\"/>



    <!--Testing Purpose only-->
    <!--<add key ="DyeMachinePath" value="E:\DyeERPTestFolders\DyeStuff\"/>
    <add key="DyeIntermidiateDestination" value ="E:\DyeERPTestFolders\ChemicalStuff\"/>
    <add key="DyeBackUpDestination" value="E:\DyeERPTestFolders\LA300ERP-Import\"/>
    <add key="ChemicalBackUpDestination" value="E:\DyeERPTestFolders\LA300ERP-ImportBackUp\"/>-->
    <!--End Testing Purpose only-->

  </appSettings>
</configuration>